@model ProductVM

<div class="card shadow border-0 my-4">
    <div class="card-header bg-info bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">@(Model.Product.Id != 0 ? "Update" : "Create") Book</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post" class="" enctype="multipart/form-data">
            <input asp-for="Product.Id" hidden />
            <div class="border p-3 m-4">
                <div class="mb-3 row p-1 col-12">
                    <label asp-for="Product.Title" class="p-0">Book Title</label>
                    <input asp-for="Product.Title" class="form-control" />
                    <span asp-validation-for="Product.Title" class="text-danger"></span>
                </div>
                <div class="row">
                    <div class="col-8">
                        <div class="mb-3 row p-1">
                            <label asp-for="Product.Description" class="p-0">Description</label>
                            <textarea asp-for="Product.Description" class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="col-2" style="display:grid; grid-template-columns:100% 100%">
                        @if (Model.Product.ProductImages != null)
                        {
                            foreach (var image in Model.Product.ProductImages)
                            {
                                <div class="p-1 m-2 text-center">
                                    <img src="@image.ImageUrl" width="100%"
                                         style="border-radius:5px; border:1px solid #bbb9b9;" />
                                         <a asp-action="DeleteImage" class="btn btn-secondary" asp-route-ImageId="@image.Id">
                                             <i class="bi bi-trash-fill"></i> Delete
                                         </a>
                                </div>
                            }
                        }
                    </div>
                </div>
                
                <div class="mb-3 row p-1">
                    <label asp-for="Product.ISBN" class="p-0">ISBN</label>
                    <input asp-for="Product.ISBN" class="form-control" />
                    <span asp-validation-for="Product.ISBN" class="text-danger"></span>
                </div>
                <div class="mb-3 row p-1">
                    <label asp-for="Product.Author" class="p-0">Author</label>
                    <input asp-for="Product.Author" class="form-control" />
                    <span asp-validation-for="Product.Author" class="text-danger"></span>
                </div>
                <div class="mb-3 row p-1">
                    <label asp-for="Product.ListPrice" class="p-0">List Price</label>
                    <input asp-for="Product.ListPrice" class="form-control" />
                    <span asp-validation-for="Product.ListPrice" class="text-danger"></span>
                </div>
                <div class="mb-3 row p-1">
                    <label asp-for="Product.Price" class="p-0">Price for 1 to 2 books</label>
                    <input asp-for="Product.Price" class="form-control" />
                    <span asp-validation-for="Product.Price" class="text-danger"></span>
                </div>
                <div class="mb-3 row p-1">
                    <label asp-for="Product.Price3" class="p-0">Price for 3+ books</label>
                    <input asp-for="Product.Price3" class="form-control" />
                    <span asp-validation-for="Product.Price3" class="text-danger"></span>
                </div>
                <div class="mb-3 row p-1">
                    <label asp-for="Product.Price10" class="p-0">Price for 10+ books</label>
                    <input asp-for="Product.Price10" class="form-control" />
                    <span asp-validation-for="Product.Price10" class="text-danger"></span>
                </div>
                <div class="mb-3 row p-1">
                    <label asp-for="Product.CategoryId" class="p-0">Category</label>
                    @* Another ways for passing data from a Controller to a View is using: *@
                    @* ViewData: *@
                    @* <select asp-for="CategoryId" asp-items="@(ViewData["CategoryList"] as IEnumerable<SelectListItem>)" class="form-select"></select> *@
                    @* ViewBag: *@
                    @* <select asp-for="Product.CategoryId" asp-items="ViewBag.CategoryList" class="form-select"> *@
                    <select asp-for="Product.CategoryId" asp-items="@Model.CategoryList" class="form-select">

                        <option disabled selected>-- Select Category --</option>
                    </select>
                    <span asp-validation-for="Product.CategoryId" class="text-danger"></span>
                </div>
                <div class="mb-3 row p-1">
                    <label asp-for="Product.ProductImages" class="p-0">Book cover image</label>
                    <input type="file" name="files" class="form-control" multiple />
                </div>

                <div class="row pt-2">
                    <div class="col-6 col-md-3">
                        @if (Model.Product.Id != 0)
                        {
                            <button type="submit" class="btn btn-success form-control">Update</button>
                        }
                        else
                        {
                            <button type="submit" class="btn btn-success form-control">Create</button>
                        }
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-controller="Product" asp-action="Index" class="btn btn-outline-primary form-control">
                            Back to List
                        </a>
                    </div>
                </div>
                @* <div class="col-2">
                    @if(Model.Product.ProductImages != null)
                    {
                        foreach(var image in Model.Product.ProductImages)
                        {
                            <div class="border p-1 m-2 text-center">
                                <img src="@image.ImageUrl" width="100%"
                                     style="border-radius:5px; border:1px solid #bbb9b9" />
                            </div>
                        }
                    }
                </div> *@
            </div>

        </form>
    </div>
</div>


@section Scripts{
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: ['table powerpaste',
                'lists media',
                'paste'],
            toolbar: 'undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify',
            mergetags_list: [
                { value: 'First.Name', title: 'First Name' },
                { value: 'Email', title: 'Email' },
            ]
        });
    </script>

    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
